In [1]:
import pandas as pd
import numpy as np


dates = pd.date_range(
    start = '2021/01/01',
    end = '2021/12/31',
    freq = 'D'
)

df = pd.DataFrame(
    {
        'date': dates,
        'variant' : np.random.choice(
            ['A', 'B', 'C', 'D', 'E'],
            p = [0.3, 0.3, 0.2, 0.1, 0.1],
            size = len(dates)
        )
        
    }
)

In [2]:
df

          date variant
0   2021-01-01       A
1   2021-01-02       A
2   2021-01-03       B
3   2021-01-04       B
4   2021-01-05       C
..         ...     ...
360 2021-12-27       A
361 2021-12-28       C
362 2021-12-29       A
363 2021-12-30       C
364 2021-12-31       C

[365 rows x 2 columns]

In [15]:
sample_indx = np.random.choice(np.arange(244, 365), size = 60)

In [20]:
df.loc[sample_indx, 'variant'] = np.random.choice(['F', 'G'], p=[0.7, 0.3], size=len(sample_indx))

In [37]:
# df.variant = \
np.where(
    (df.date > '2021-09') & (np.random.uniform(size = len(df)) < 0.6), 
    np.random.choice(['F', 'G']), 
    df.variant)

array(['E', 'A', 'D', 'B', 'E', 'C', 'B', 'E', 'B', 'E', 'B', 'E', 'A',
       'E', 'B', 'C', 'A', 'A', 'E', 'E', 'D', 'C', 'B', 'B', 'A', 'A',
       'E', 'A', 'A', 'D', 'D', 'D', 'A', 'C', 'B', 'B', 'D', 'D', 'A',
       'A', 'B', 'A', 'A', 'A', 'B', 'A', 'A', 'A', 'B', 'A', 'A', 'A',
       'D', 'B', 'C', 'A', 'D', 'A', 'B', 'B', 'A', 'D', 'E', 'A', 'B',
       'B', 'B', 'B', 'A', 'C', 'A', 'B', 'B', 'A', 'B', 'C', 'B', 'A',
       'D', 'C', 'C', 'C', 'B', 'A', 'C', 'A', 'A', 'B', 'C', 'D', 'B',
       'B', 'A', 'C', 'E', 'C', 'C', 'A', 'B', 'D', 'C', 'B', 'A', 'C',
       'B', 'D', 'B', 'A', 'E', 'B', 'C', 'B', 'B', 'D', 'A', 'C', 'B',
       'C', 'E', 'E', 'D', 'A', 'A', 'B', 'B', 'C', 'C', 'D', 'B', 'B',
       'C', 'B', 'C', 'A', 'E', 'C', 'B', 'B', 'B', 'B', 'D', 'B', 'A',
       'A', 'B', 'A', 'A', 'C', 'A', 'B', 'B', 'B', 'A', 'A', 'A', 'A',
       'D', 'C', 'D', 'E', 'A', 'E', 'A', 'A', 'A', 'E', 'A', 'C', 'A',
       'A', 'D', 'A', 'C', 'C', 'D', 'C', 'C', 'A', 'A', 'B', 'E', 'D',
       'B', 'A', 'E', 'B', 'C', 'A', 'B', 'A', 'C', 'C', 'B', 'A', 'B',
       'B', 'E', 'C', 'A', 'C', 'E', 'B', 'B', 'A', 'A', 'B', 'D', 'A',
       'C', 'B', 'C', 'A', 'E', 'A', 'B', 'A', 'D', 'A', 'C', 'A', 'A',
       'B', 'A', 'D', 'B', 'C', 'A', 'A', 'B', 'C', 'A', 'E', 'B', 'C',
       'A', 'E', 'A', 'E', 'B', 'B', 'B', 'A', 'A', 'A', 'F', 'F', 'F',
       'A', 'F', 'F', 'F', 'F', 'G', 'F', 'G', 'F', 'F', 'F', 'F', 'A',
       'F', 'F', 'F', 'E', 'F', 'F', 'F', 'F', 'F', 'F', 'F', 'F', 'F',
       'F', 'F', 'F', 'F', 'A', 'F', 'F', 'F', 'F', 'F', 'F', 'B', 'C',
       'F', 'F', 'F', 'E', 'F', 'C', 'G', 'F', 'D', 'F', 'G', 'G', 'F',
       'F', 'A', 'F', 'D', 'G', 'E', 'G', 'F', 'F', 'C', 'F', 'F', 'F',
       'F', 'C', 'G', 'F', 'B', 'F', 'F', 'F', 'E', 'G', 'F', 'F', 'F',
       'A', 'F', 'D', 'B', 'F', 'F', 'F', 'F', 'F', 'F', 'F', 'F', 'F',
       'F', 'F', 'B', 'F', 'F', 'G', 'F', 'E', 'F', 'F', 'F', 'F', 'F',
       'A', 'F', 'F', 'C', 'F', 'B', 'F', 'B', 'C', 'F', 'B', 'E', 'F',
       'F'], dtype=object)

<span style='color:#ffcc00;'>Dark Yellow</span>